<!DOCTYPE html>
<html lang="en">
    

<%- include('../../layouts/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <%- include('../../layouts/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%- include('../../layouts/sidebar.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard / Add-Service</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Add-Service</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <form action="/create/service" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">image1</label>
                <input type="file" class="form-control" id="exampleInputEmail1" name="image1" aria-describedby="emailHelp">   
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">image2</label>
              <input type="file" class="form-control" id="exampleInputEmail1" name="image2" aria-describedby="emailHelp">   
          </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="title" required aria-describedby="emailHelp">
             
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Sub-Title</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="subtitle" required aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Hover_Color</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="hover_color" required aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Add Service</button>
          </form>
          <!-- /.row -->

          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../../layouts/footer.ejs') %>